<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- .../Project/log/logback -->
    <property name="LOG_DIR" value="\customLog/logback" />

    <!-- CONSOLE 콘솔 로그-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                aCON %highlight(%-5level) %d{yy-MM-dd HH:mm:ss.SSS} [%thread] : %green(%30logger{1}) - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- SYSLOG 전체 파일 로그-->
    <appender name="SYSLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/syslog/syslog.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                aSYS %-5level %d{yy-MM-dd HH:mm:ss.SSS} [%thread] : %30logger{1} - %msg%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/syslog/syslog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- APPLOG 애플리케이션 파일 로그 -->
    <appender name="APPLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/applog/applog.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                aApp %-5level %d{yy-MM-dd HH:mm:ss.SSS} [%thread] : %30logger{1} - %msg%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/applog/applog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- ERRORLOG 에러 파일 로그-->
    <appender name="ERRORLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--LOG LEVEL FILTER, if ERROR true -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <!-- 작성할 파일 -->
        <file>${LOG_DIR}/errlog/errlog.log</file>
        <!-- 로그 작성 (encoder)-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                aERR %-5level %d{yy-MM-dd HH:mm:ss.SSS} [%thread] : %30logger{1} %n[message] %msg%n
            </Pattern>
        </layout>
        <!-- 새 파일 작성 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/errlog/errlog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- SQLLOG 파일 로그, 사용X -->
    <appender name="SQLLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/sqllog/sqllog.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                aSQL %-5level %d{yy-MM-dd HH:mm:ss.SSS} [%thread] : %30logger{1} - %msg%n
            </Pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/sqllog/sqllog.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--
        출력              logger
        콘솔            : root
        syslog.log      : root                  사용X, 이유 = EB 에서 stdout 을 자동으로 파일로 씀.
        applog.log      : hello.board
        errorlog.log    : root
        sqllog.log      : jdbc.sqltiming        사용X

        root.CONSOLE 주석하면 hello.board.CONSOLE, jdbc.sqltiming.CONSOLE 켜줘야 됨. 반대역시 동일
    -->

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SYSLOG" />
        <appender-ref ref="ERRORLOG"/>
    </root>

    <logger name="hello.board" level="info">
<!--        <appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="APPLOG"/>
    </logger>

    <logger name="jdbc.sqltiming" level="info">
<!--        <appender-ref ref="CONSOLE" />-->
<!--        <appender-ref ref="SQLLOG" />-->
    </logger>

    <!-- jdbc 관련 로그 다 켜져서 일단 끔 -->
    <logger name="jdbc.sqlonly" level="off"/>
    <logger name="jdbc.audit" level="off" />
    <logger name="jdbc.resultset" level="off" />
    <logger name="jdbc.resultsettable" level="off" />
    <logger name="jdbc.connection" level="off" />

</configuration>