<!DOCTYPE html>
<!--타임리프 및 스프링 시큐리티 확장 네임스페이스 사용-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav-css.css}" href="/static/css/nav-css.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="/static/css/global.css">
    <title>글 수정</title>
    <style>

        #form label { display: block; }

        #form input[type=text], #form textarea {
            display: block;
            box-sizing: border-box;
            font: 1rem sans-serif;
        }

        #form #categorySelect {
            min-width: 80px;
        }

        .input-wrapper {
            margin-top: 20px;
        }

        #form #title {
            width: 70%;
        }

        .title-feedback {
            text-indent: 22%;
        }

        #form textarea {
            line-height: 1.5;
            height: 12em;
        }

        /* 에러 발생시 추가할 클래스 */
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

        #selectFileName>span {
            line-height: 39px;
        }

        #container .ck-label {
            display: none;
        }

        #container .ck-content {
            min-height: 500px;
        }

        #editBtWrapper {
            margin-top: 30px;
            text-align: right;
        }


    </style>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/js/ckeditor5/build/ckeditor.js" th:src="@{/js/ckeditor5/build/ckeditor.js}"></script>
    <script>
        $(function () {

            // CKeditor
            ClassicEditor
                .create( document.querySelector( '#content' ), {
                    ckfinder: {
                        // POST
                        uploadUrl: "/image"
                    },
                    licenseKey: '',
                } )
                .then( editor => {
                    window.editor = editor;

                } )
                .catch( error => {
                    console.error( 'CKeditor 에러' );
                    console.warn( 'Build id: c8lmmc8yntlx-90lv8lh8innk' );
                    console.error( error );
                } );

            // write 와 다르게 edit 는 검색/페이지네이션 결과를 같이 서버에 보내야함
            /**
             * 애초에 th:action 이 요청 url + 쿼리 파라미터 까지 전부 다 action 으로 넣어주는듯.
             * 파라미터 신경 쓸 필요 없음.
             */

            let originValue = $("#categorySelect").data("origin");
            // 카테고리 기본값
            $("#categorySelect option").each(function () {
                if ($(this).attr("value") == originValue) {
                    $(this).attr("selected", true);
                }
            })

            // submit 할때 이미지 uuid 추출 후 submit, 공지 플래그 설정
            $("#editBt").on("click", function (event) {
                let imageUrl = "";

                // <img> 에서 src 추출
                // (로컬) "/images/local/request/da191b23-ef17-4059-b004-c4c78e125903.jpg"
                // (아마존) "https://s3.ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-655132712060/upload_image/c013e1c3-9733-4704-bb2d-76791c54a56e.jpg"
                $(".ck-content img").each(function (index, item) {

                    let imageSrc = $(this).attr("src");
                    let splittedUrl = '';
                    if (imageSrc.indexOf('/local') != -1) {
                        splittedUrl = imageSrc.split("request/");
                    }
                    if (imageSrc.indexOf('amazonaws') != -1) {
                        splittedUrl = imageSrc.split("upload_image/");
                    }

                    imageUrl += splittedUrl[1] + ",";
                })
                console.log("imageUrl = " + imageUrl)
                $("#uploadImageUrl").val(imageUrl);

                // 공지플래그 설정
                let isNotice = originValue == "NOTICE" ? true : false;
                $("#isNotice").val(isNotice);
            })

        })
    </script>
</head>
<body id="body">
<div id="container" class="container">

    <nav th:replace="fragment/fragment.html :: nav-fragment">
    </nav>

    <!-- th:action : 옵션 생략시 요청 url 그대로 재요청 + method="post" -->
    <!--            : 옵션 생략시 url 뒤에 파라미터도 그대로 붙여서 재요청함 -->
    <!-- th:object : 컨트롤러에서 넘어온 커맨드 객체 (/edit GET 처리에서 모델로 넘긴 객체) -->
    <!--  커맨드객체 : Spring 이 URL 파라미터, POST Form Data 형태의 파라미터를
                        특정 클래스로 자동으로 바인딩 하고 반환되는 객체 -->
    <!-- th:field : 는 해당 커맨드 객체의 필드 접근, id name th:value 속성 필드값으로 자동설정 -->
    <form th:action action="read.html" method="POST" id="form"
          th:object="${board}" enctype="multipart/form-data" th:data-boardId="${board.getId()}">

        <!-- 글로벌 오류가 있을때 (#fields 유틸리티 객체 사용) 에러메시지 루프로 출력 -->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                글로벌 오류 메시지
            </p>
        </div>

        <div class="input-group input-wrapper">
            <select id="categorySelect" th:field="*{category}" class="form-select" aria-label="categorySelect" th:errorclass="is-invalid" th:data-origin="${board.category}" required>
                <option value="" hidden>카테고리</option>
                <option value="FREE">자유</option>
                <option value="ISSUE">이슈</option>
                <option value="ECONOMY">경제</option>
                <option value="CS">문의</option>
                <option value="NOTICE" sec:authorize="hasRole('ROLE_ADMIN')">공지</option>
            </select>
            <!-- th:errorclass: 해당필드에 에러가 발생하면 설정된 클래스 추가 -->
            <!-- th:errors: 해당 필드에 에러가 발생하면 에러 메시지 내용으로 설정 -->
            <span class="input-group-text">제목 </span>
            <!-- input 태그의 value 는 기본값, textarea 태그는 value 없음. -->
            <input class="form-control" type="text" id="title" name="title" th:field="*{title}" th:errorclass="is-invalid">
            <div class="invalid-feedback title-feedback" th:errors="*{title}"> title 오류</div>
            <div class="invalid-feedback" th:errors="*{category}"> category 오류</div>
        </div>

        <div class="input-group input-wrapper">
            <span class="input-group-text">작성자</span>
            <!-- th:field, th:value 동시사용 세션에서 writer 받으려고. <-적용안되서 걍 field 빼버림 어차피 name 있으니까-->
            <input type="text" class="form-control" id="writer" name="writer" th:value="${#authentication.name}" readonly>
            <div class="invalid-feedback" th:errors="*{writer}"> writer 오류</div>
        </div>

        <div class="input-wrapper">
            <textarea id="content" class="form-control" name="content" th:field="*{content}" th:errorclass="is-invalid"></textarea>
            <div class="invalid-feedback" th:errors="*{content}"> content 오류</div>
        </div>

        <p id="editBtWrapper">
            <input id="editBt" type="submit" name="submit" value="수정" class="btn btn-primary">
        </p>

        <!-- onsubmit 실제로 업로드할 이미지 요청 url 에서 uuid 뽑아서 값으로 설정 -->
        <input type="hidden" name="imageName" value="" id="uploadImageUrl">

        <!-- 공지글이였는지 확인 -->
        <input type="hidden" id="isNotice" name="isNotice" value="">

        <!-- pageInfo -->
        <input class="page_info" type="hidden" th:name="currentPage" th:value="${criteria.currentPage}" name="currentPage" value="1">
        <input class="page_info" type="hidden" th:name="categoryCode" th:value="${criteria.categoryCode}">
        <input class="page_info searching" type="hidden" th:name="option" th:value="${criteria.option}" name="option" value="option">
        <input class="page_info searching" type="hidden" th:name="keyword" th:value="${criteria.keyword}" name="keyword" value="keyword">
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>