<!DOCTYPE html>
<!--타임리프 및 스프링 시큐리티 확장 네임스페이스 사용-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 조회 </title>
    <style>

        #wrapper {
            background-color: white;
        }

        #info {
            list-style-type: none;
            padding: 0;
            height: 40px;
            min-width: 850px;
        }

        #info::after {
            content: "";
            clear: both;
            display: block;
        }

        #info > li {
            float: left;
            width: 23%;
            line-height: 40px;
        }

        #info > li:first-child {
            width: 8%;
        }

        .dropdown {
            position: relative;
        }

        .dropdown button {
            position: absolute;
            right: 0;
        }

        #commentContainer {
            padding: 35px;
        }

        #commentContainer .comment-username {
            height: 33px;
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: 0px;

            transition: background-color 1000ms linear;
        }

        #commentContainer .other-comment .comment-username:hover {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }

        #commentContainer .other-comment-reply .comment-username {
            border-top-left-radius: 0;
            cursor: pointer;
        }

        #commentContainer .other-comment-reply .comment-username:hover{
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }


        #commentContainer .comment-delete {
            display: block;
            position: absolute;
            right: 0px;
            top: 3px;
            text-decoration: none;
            text-indent: 5px;
            width: 30px;
            height: 30px;
        }

        #commentContainer .comment-delete:hover {
            cursor: pointer;
        }

        #commentContainer .comment-content {
            display: block;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            background-color: white;
        }

        #commentContainer .btn {
            border-top-right-radius: 0;
            margin-left: 1px;
        }

        #commentContainer .comment-update {
            border-bottom-right-radius: 0.375rem;
        }

        #commentHeader {
            font-size: 1.2em;
            margin-bottom: 20px;
            text-indent: 0.5em;
        }

       #commentContainer .other-comment {
            margin-bottom: 20px;
           position: relative;
        }

        #commentContainer .comment-update-submit {
            display: none;
        }

        .empty-container .other-comment-empty {
            display: none;
        }

        .other-comment-reply {
            position: relative;
            padding-left: 40px;
            margin-bottom: 20px;
        }

        #commentContainer .other-comment-reply .comment-content {
            position: relative;
        }

        #commentContainer .comment-reply-for {
            border-bottom-left-radius: 0;
            color: blue;
            height: 33px;
        }

        .is-reply {
            display: none;
        }

        /* 부트스트랩 기본 스타일 수정 (other-comment 어긋남 수정) */
        #container .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
            margin-left: 0;
        }

        /* ckeditor 읽기 테두리 제거 */
        #container .ck-content {
            border-style: none;
        }

        #container textarea {
            display: none;
        }

        #container #commentContainer .highlighted {
            background-color: darkorange;
        }


    </style>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="/static/css/global.css">
    <script src="/static/js/ckeditor5/build/ckeditor.js" th:src="@{/js/ckeditor5/build/ckeditor.js}"></script>
    <script>
        $(function () {

// alert
            $(window).on("load", function () {
                let alertMessage = $("#globalAlertMessage").data("alertmessage");
                if (alertMessage) {
                    alert(alertMessage);
                }
            })

// CK editor
            ClassicEditor
                .create( document.querySelector( '#article' ))

                .then( editor => {
                window.editor = editor;
                // editor.enableReadOnlyMode('my feature Id')
                editor.enableReadOnlyMode('1');
                const toolbarElement = editor.ui.view.toolbar.element;
                toolbarElement.style.display = 'none';
            } )
                .catch( error => {
                console.error( 'ckeditor 에러' );
                console.error( error );
            } );

// myComment 에서 넘어왔을때, comment highlight
            let selectedCommentId = $("#selectedCommentId").data("selectedcommentid");
            // console.log("selectedCommentId = " + selectedCommentId);
            if (selectedCommentId) {
                let $selectedComment = $("#comment" + selectedCommentId).find(".comment-username");

                $(window).on("load", function () {
                    $selectedComment[0].scrollIntoView({block:"center"});
                    $selectedComment.addClass("highlighted");

                    setTimeout(function () {
                        $selectedComment.removeClass("highlighted");
                    }, 1000)
                })
            }

// 대댓글 로드 (reply 속성 적용 및 위치변경)
            $(".other-comment").each(function (index, item) {
                // 없으면 length = 0 배열, 있으면 있는갯수만큼 length 있는 배열 나옴
                let isReply = $(item).children(".comment-reply-for").length;

                let afterTargetId = $(item).find(".comment-groupId").val();
                // console.log("afterTarget " + afterTargetId)

                // 대댓글이면
                if (isReply) {

                    // 대댓글 클래스로 변경
                    $(item).addClass("other-comment-reply").removeClass("other-comment");

                    // data-group 속성 값이 답글 붙일 groupId 와 같은 요소 중 첫번째 (모댓글)
                    //      .nextUntil(.other-comment) => 다음 other-comment 까지 .last() 중 마지막
                    //      이때, 자기자신 (모댓글) 은 선택되지 않으므로 첫번째 답글은 length=0 인 제이쿼리객체배열(?) 나오는듯
                    let targetPosition = $(".comment[data-group='" + afterTargetId + "']").first().nextUntil(".other-comment").last();

                    // console.log(targetPosition)

                    // 첫번째 답글 -> 모댓글 다음에 부착
                    if (targetPosition.length == 0) {
                        $(".comment[data-group='" + afterTargetId + "']").first().after($(item));
                        return;
                    }

                    // 두번째 이후 부터 답글 -> 찾은 위치에 부착
                    targetPosition.after($(item));
                }
            })

// 내부 네비게이션 동작
            $("#read-nav button").on("click", function (event) {
                event.preventDefault();

                // baseUrl
                let baseUrl = $(this).data("url");
                let isDelete = $(this).hasClass("delete");

                if (isDelete) {
                    // No - return 함
                    if (!confirm("정말 삭제하시겠습니까?")) {
                        return;
                    }
                    $("#pageInfo").attr("method", "post");

                    // 삭제의 경우, post 방식으로 전송하기 때문에 따로 쿼리스트링을 붙임
                    baseUrl += location.search;
                }

                let option = $("#pageInfo>input[name='option']").val();
                console.log("option = " + option);

                // 검색중이 아닐때 = 파라미터 삭제
                if (!option) {
                    $("#pageInfo>input.searching").remove();
                }

                // input hidden에 담아 submit
                $("#pageInfo").attr("action", baseUrl).submit();
            })

// 댓글 등록
            $(".comment-submit").on("click", function (event) {
                event.preventDefault();
                let submitContent = $(this).prev().val();

                if (isContentEmpty(submitContent)) {
                    alert("내용을 입력해 주세요");
                    return;
                }

                // 1 == reply
                let isreply = $(this).data("isreply");

                // 쿼리스트링 형식으로 폼 데이터 변환
                // application/x-www-form-urlencoded => @ModelAttribute 로 받음
                let params = $(this).parent().parent().serialize();
                // let paramsArray = $("#myCommentForm").serializeArray();

                // console.log("params: " + params);

                $.ajax({
                    type: "post",
                    async: false,
                    url: "/comment",
                    data: params,
                    success: function (resp) {

                        if (resp.result != "1") {
                            alert("댓글 저장 중 오류가 발생했습니다.")
                            return;
                        }

                        // 답글이면 리로드
                        if (isreply) {
                            alert("답글이 등록되었습니다.")
                            location.reload();
                            return;
                        }

                        // 빈 댓글 폼에 입력해서 컨테이너에 붙임
                        // selector 로 찾아서 .end 로 끝내고 다시찾기 vs .next() 등으로 이동하기
                        let inputList = resp.inputList;
                        $(".other-comment-empty input").each(function (index, item) {
                            $(item).val(inputList[index]);
                        })
                        // clone([이벤트복사여부, bool]) -> 근데 하위 이벤트는 복사 안되는듯?
                        $(".other-comment-empty").clone(true)
                            .attr("id", "comment" + resp.commentId)
                            .children(".comment-reply-for").css("display", "none").end()
                            .children(".comment-username").text(resp.writer).on("click", makeReply).end()
                            .children(".comment-delete").attr("data-id", resp.commentId).end()
                            .find(".comment-content").attr("placeholder", resp.content).end()
                            .find(".comment-update").attr("data-id", resp.commentId).end()
                            .removeClass("other-comment-empty").addClass("other-comment")
                            .css("display", "block").appendTo($("#otherCommentContainer"));

                        // 내 댓글창 입력초기화
                        $("#myComment .comment-content").val("");

                        alert("댓글이 등록되었습니다.");
                    },//ajax 에러확인
                    error: function (request, status, error) {
                        console.log("code: " + request.status)
                        console.log("message: " + request.responseText)
                        console.log("error: " + error);
                    }
                })
            })

// 댓글과 대댓글 수정 검사 및 수정폼 변경
            $(".comment-update").on("click", function (event) {
                let myMemberId = $("#myComment .comment-memberId").val();
                let myWriter = $("#myComment .comment-writer").val();

                // 타임리프로 other-comment 마다 #commentN (N=state.count) 로 id 부여
                let commentId = $(this).data("id");
                // 해당 id 로 탐색
                let commentMemberId = $("#comment" + commentId + " .comment-memberId").val();

                console.log("commentWriter = " + commentMemberId + " mywriter = " + myMemberId);

                // 로그인 확인
                if (myWriter == null) { alert("로그인 해 주세요"); return false; }

                // length > 1 == writing (true)
                let isWriting = $(".comment .bg-primary").length;

                // 작성중인지 확인
                if (isWriting) {
                    alert("다른 작업을 완료 해 주세요")
                    return false;
                }

                // 작성자 확인
                if (commentMemberId != myMemberId && myWriter != 'admin' ) { alert("수정하려는 댓글의 작성자가 아닙니다."); return false;}

                let content = $("#comment" + commentId + " .comment-content").attr("placeholder");
                $("#comment" + commentId + " .comment-content").val(content);

                $(this).prev().attr({ disabled: false, required: true });
                $("#comment" + commentId + " .comment-username").addClass("bg-primary text-white").off("click");

                // delete 버튼 제거
                // $(this).parent().prev().css("display", "none");

                // 버튼 등록으로 바꿈
                $(this).css("display", "none").next().css("display", "block");

            })

// 댓글 수정
            $(".comment-update-submit").on("click", function (event) {

                let commentId = $(event.target).prev().data("id");
                let content = $("#comment" + commentId + " textarea").val();

                // 1 보다 크면 reply
                let isReply = $(this).parent().siblings(".is-reply").length;

                if (isContentEmpty(content)) {
                    alert("내용을 입력해 주세요.");
                    return false;
                }

                $.ajax({
                    type: "post",
                    async: false,
                    url: "/comment/" + commentId,
                    data: {content: content},
                    success: function (resp) {

                        if (resp.result != "1") {
                            alert("댓글 수정 중 오류가 발생했습니다.")
                            return;
                        }

                        // 답글이면
                        if (isReply) {
                            alert("답글이 수정되었습니다.");
                            location.reload();
                            return false;
                        }

                        $("#comment" + resp.commentId)
                            // 일반 댓글로 변경
                            .children(".comment-username").removeClass("bg-primary text-white")
                            .on("click", makeReply).end()
                            // 삭제버튼 복구
                            .children(".comment-delete").css("display", "block").end()
                            // (업데이트)등록 버튼 제거
                            .find(".comment-update-submit").css("display", "none").end()
                            // 수정버튼 복구
                            .find(".comment-update").css("display", "block").end()
                            // value -> placeholder, disabled
                            .find(".comment-content").val("").attr({ placeholder: resp.content,
                            disabled: true})
                        alert("댓글이 수정되었습니다.")
                    },
                    //ajax 에러확인
                    error: function (request, status, error) {
                        console.log("code: " + request.status)
                        console.log("message: " + request.responseText)
                        console.log("error: " + error);
                    }
                })
            })

// 댓글의 X 버튼 눌럿을때 동작 (댓글/대댓글삭제, 대댓글 작성/수정취소)
            $(".comment-delete").on("click", function (event) {
                event.preventDefault();
                let commentMemberId = $(this).siblings(".comment-memberId").val();
                let myMemberId = $("#myComment .comment-memberId").val();
                let myWriter = $("#myComment .comment-writer").val();
                let commentId = $(this).data("id");

                if (myMemberId == null) {
                    alert("로그인 해 주세요"); return;
                }

                // 대댓글 작성 취소
                if ($(this).parent().prop("id") == "myCommentReplyForm") {
                    $(this).parent().parent().remove();
                    return false;
                }

                // .comment-update-submit 버튼의 display 가 block 이면 수정중
                let isUpdate = $(this).parent().find(".comment-update-submit").css("display");
                console.log("isUpdate" + isUpdate)
                // 답글 수정 취소
                if (isUpdate == "block") {
                    alert("수정을 취소합니다.")
                    location.reload();
                    return false;
                }

                if (myMemberId != commentMemberId && myWriter != 'admin') {
                    alert("삭제하려는 댓글의 작성자가 아닙니다."); return;
                }

                if (!confirm("정말 삭제하시겠습니까?")) {
                    return;
                }

                $.ajax({
                    type: "post",
                    async: false,
                    url: "/comment/" + commentId + "/delete",
                    success: function (resp) {

                        if (resp.result != "1") {
                            alert("댓글 삭제 중 오류가 발생했습니다.")
                            return;
                        }

                        alert("댓글이 삭제되었습니다.");
                        location.reload();
                    },
                    error: function (request, status, error) {
                        console.log("code: " + request.status)
                        console.log("message: " + request.responseText)
                        console.log("error: " + error);
                    }
                })
            })

// 대댓글 폼 생성
            $(".other-comment>.comment-username, .other-comment-reply>.comment-username").each(function (index, item) {
                $(item).on("click", makeReply)
            })

// 대댓글 콜백함수
            function makeReply (event) {
                // event.stopPropagation();

                let isWriting = $("#myCommentReply").length;
                // 다른 대댓글을 작성중이면 이벤트 막기
                if (isWriting != 0) {
                    alert("다른 작업을 완료해주세요")
                    return false;
                }

                // click 한 username 의 형제 .comment-delete 에서 commentId 획득
                let groupId = $(this).siblings(".comment-delete").data("id");

                // 답글 달 대상이 댓글인지 대댓글인지 확인
                if ($(this).siblings(".comment-depth").val() == 1) {
                    // 대-대댓글
                    groupId = $(this).siblings(".comment-groupId").val();
                } else {
                    // 대댓글
                    groupId = $(this).siblings(".comment-delete").data("id");
                }

                let targetId = $(this).siblings(".comment-memberId").val();
                // click 한 username 의 부모 .other-comment 의 형제중 reply 갯수( 다음 other-comment 직전까지) 획득
                let order = $(this).parent().nextUntil(".other-comment").length + 1;
                let target = $(this).text();

                // #myComment 복사해서 추가
                $("#myComment").clone(true)
                    .prop("id", "myCommentReply")
                    .children("#myCommentForm").prop("id", "myCommentReplyForm")
                    .children(".comment-username").end()
                    .children(".comment-groupId").val(groupId).end()
                    .children(".comment-order").val(order).end()
                    .children(".comment-depth").val("1").end()
                    .children(".comment-target").val(target).end()
                    .children(".comment-targetId").val(targetId).end()
                    .find(".comment-submit").attr("data-isreply", "1").end()
                    // 다시 #mycommentForm 으로
                    .end()
                    .addClass("other-comment-reply")
                    .find(".comment-writer").before(
                        $(".other-comment-empty>.comment-reply-for").clone(true)
                            .text("@" + $(this).text())).end()
                    .find(".comment-username").after($(".other-comment-empty>.comment-delete").clone(true)).end()
                    .insertAfter($(this).parent());
            };

            // 댓글 내용 비었는지 확인
            function isContentEmpty(content) {
                return (content == "" || content == null) ? true : false;
            }

        });
    </script>
</head>
<body id="body">
<div id="container" class="container">

    <nav th:replace="fragment/fragment.html :: nav-fragment">
    </nav>

    <div id="globalAlertMessage" th:data-alertmessage="${alertMessage}"></div>

    <div id="wrapper">

        <h2 id="headerText" th:text="${board.title}"> Title </h2>

        <hr>

        <ul id="info">
            <li th:data-boardId="${board.id}">
            </li>
            <li>
                <span>카테고리: </span>
                <span id="categoryCode" th:data-categoryCode="${criteria.getCategoryCode()}"></span>
                <span id="infoCategory" th:text="${board.category.getCategoryName()}" th:data-category="${board.category.getCode()}">카테고리</span>
            </li>
            <li>
                <span>작성자: </span>
                <span th:text="${board.writer}">작성자</span>
            </li>
            <li>
                <span>작성: </span>
                <span th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm')}">작성시간</span>
            </li>
            <li>
                <span>수정:</span>
                <span th:text="${#temporals.format(board.updateDate, 'yyyy-MM-dd HH:mm')}" >수정시간</span>
            </li>
        </ul>
        <hr>

        <!-- 글 내용 (ckeditor readonly) -->
        <textarea th:text="${board.content}" id="article">Content</textarea>
        <hr>

        <!-- 내부 네비 -->
        <div id="read-nav">
            <!-- 공지 수정/삭제 -->
            <div th:if="${board.category.name().equals('NOTICE')}">
                <button type="button" class="btn btn-primary" th:data-url="'/boards'">목록</button>
                <button type="button" class="btn btn-primary" th:data-url="'/board/' + ${board.id} + '/edit'"
                        sec:authorize="hasRole('ROLE_ADMIN')">수정</button>
                <button type="button" class="btn btn-primary delete" th:data-url="'/board/' + ${board.id} + '/delete'"
                        sec:authorize="hasRole('ROLE_ADMIN')">삭제</button>
            </div>
            <!-- 일반 수정/삭제 -->
            <div th:unless="${board.category.name().equals('NOTICE')}">
                <button type="button" class="btn btn-primary" th:data-url="'/boards'">목록</button>
                <button type="button" class="btn btn-primary" th:data-url="'/board/' + ${board.id} + '/edit'"
                        sec:authorize="authenticated">수정</button>
                <button type="button" class="btn btn-primary delete" th:data-url="'/board/' + ${board.id} + '/delete'"
                        sec:authorize="authenticated">삭제</button>
            </div>
        </div>

    </div>

    <!-- 댓글 -->
    <div id="commentContainer">
        <div id="commentHeader" th:text="'💬 ' + ${commentList.size()} + '개의 댓글'">
            💬 00개의 댓글
        </div>
        <div id="otherCommentContainer">
            <!-- other-comment 와 other-comment-reply 를 묶기위해 comment 클래스 임시로 넣음 -->
            <div class="other-comment input-group comment" th:each="comment, commentState : ${commentList}" th:id="'comment'+ ${comment.getCommentId()}"
                th:data-group="${comment.groupId}">
                <!-- 나중에 jquery 에서 얘가 있으면 .parent().addClass(other-comment-reply).removeClass...-->
                <span th:if="${comment.getTarget() != null && comment.getTarget() != ''}" class="input-group-text comment-reply-for"
                      th:text="'@' + ${comment.getTarget()}">@상대방ID</span>
                <!-- th placeholder comment.username -->
                <input type="hidden" class="comment-writer form-control" th:value="${comment.writer}" name="writer">
                <!-- th text comment.username -->
                <span class="input-group-text comment-username flex-fill" th:text="${comment.writer}">writer</span>
                <a class="comment-delete" th:href="@{/comment/delete/{commentId}(commentId=${comment.getCommentId()})}"
                    th:data-id="${comment.getCommentId()}">✖</a>
                <div class="input-group">
                    <textarea class="comment-content form-control form-control-sm" name="content" th:placeholder="${comment.content}" disabled maxlength="50"></textarea>
                    <button class="btn btn-outline-secondary comment-update" type="button" th:data-id="${comment.commentId}"
                            >수정</button>
                    <button class="btn btn-outline-secondary comment-update-submit" type="button">등록</button>
                </div>
                <input type="hidden" class="comment-boardId" name="boardId" value="0" th:value="${boardId}">
                <input type="hidden" class="comment-memberId" name="memberId" value="0" th:value="${comment.memberId}">
                <input type="hidden" class="comment-groupId" name="groupId" value="0" th:value="${comment.groupId}">
                <input type="hidden" class="comment-order" name="groupOrder" value="0" th:value="${comment.groupOrder}">
                <input type="hidden" class="comment-depth" name="groupDepth" value="0" th:value="${comment.groupDepth}">
                <input type="hidden" class="comment-category" name="category" value="" th:value="${comment.category.name()}">
                <div class="is-reply" th:if="${comment.groupDepth > 0}"></div>
            </div>
        </div>
        <div id="myComment" sec:authorize="isAuthenticated()">
            <form id="myCommentForm" class="input-group" th:action="@{/comment/write}" method="post">
                <input type="hidden" class="comment-writer form-control" value="myWriter" name="writer" th:value="${member.username}">
                <span class="input-group-text comment-username bg-primary text-white flex-fill" th:text="${member.username}">username</span>
                <div class="input-group">
                    <textarea class="comment-content form-control form-control-sm" name="content" placeholder="댓글을 입력하세요" required maxlength="50"></textarea>
                    <button class="btn btn-outline-secondary comment-submit" type="submit">등록</button>
                </div>
                <input type="hidden" class="comment-boardId" name="boardId" value="0" th:value="${boardId}">
                <input type="hidden" class="comment-memberId" name="memberId" value="0" th:value="${member.id}">
                <input type="hidden" class="comment-groupId" name="groupId" value="0">
                <input type="hidden" class="comment-order" name="groupOrder" value="0">
                <input type="hidden" class="comment-depth" name="groupDepth" value="0">
                <input type="hidden" class="comment-target" name="target" value="">
                <input type="hidden" class="comment-targetId" name="targetId" value="">
                <input type="hidden" class="comment-category" name="category" value="" th:value="${board.category.name()}">
            </form>
        </div>
    </div>

    <!-- 빈 댓글 -->
    <div class="empty-container" sec:authorize="isAuthenticated()">
        <div class="other-comment-empty input-group">
            <span class="input-group-text comment-reply-for">@상대방ID</span>
            <input type="hidden" class="comment-writer form-control" name="writer">
            <span class="input-group-text flex-fill comment-username">writer</span>
            <a class="comment-delete">✖</a>
            <div class="input-group">
                <textarea class="comment-content form-control form-control-sm" name="content" disabled maxlength="50"></textarea>
                <button class="btn btn-outline-secondary comment-update" type="button">수정</button>
                <button class="btn btn-outline-secondary comment-update-submit" type="button">등록</button>
            </div>
            <input type="hidden" name="boardId" value="0" th:value="${boardId}">
            <!-- 로그인 아니면 생성X -->
            <input type="hidden" class="comment-memberId" name="memberId" value="0" th:value="${member.id}">
            <input type="hidden" class="comment-groupId" name="groupId" value="0">
            <input type="hidden" class="comment-order" name="groupOrder" value="0">
            <input type="hidden" class="comment-depth" name="groupDepth" value="0">
            <input type="hidden" class="comment-category" name="category" value="" th:value="${board.category.name()}">
        </div>
    </div>

    <!-- 검색 정보 -->
    <form id="pageInfo" method="get">
        <input type="hidden" th:name="currentPage" th:value="${criteria.currentPage}">
        <input type="hidden" th:name="categoryCode" th:value="${criteria.categoryCode}">
        <input type="hidden" class="searching" th:name="option" th:value="${criteria.option}">
        <input type="hidden" class="searching" th:name="keyword" th:value="${criteria.keyword}">
    </form>

    <!-- message, 컨트롤러에서 rttr 로 넘겨받는 commentMessage -->
    <div style="display: none" id="message">
        <div style="display: none" th:if="${commentMessage}" th:data-message="${commentMessage}"></div>
    </div>

    <div style="display: none" id="selectedCommentId" th:data-selectedcommentid="${selectedCommentId}"></div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>