<!DOCTYPE html>
<!--타임리프 및 스프링 시큐리티 확장 네임스페이스 사용-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 글쓰기 </title>
    <style>

        #form label { display: block; }

        #form p {
            margin-bottom: 20px;
        }

        #form p:last-child {
            margin-bottom: 0;
        }

        #form input[type=text], #form textarea {
            display: block;
            box-sizing: border-box;
            font: 1rem sans-serif;
        }

        #form #categorySelect {
            min-width: 80px;
        }

        .input-wrapper {
            margin-top: 20px;
        }

        #form #title {
            width: 70%;
        }

        .title-feedback {
            text-indent: 24%;
        }

        #form textarea {
            line-height: 1.5;
            height: 12em;
        }

        #container textarea {
            display: none;
        }

        #container .ck-label {
            display: none;
        }

        #container .ck-content {
            min-height: 500px;
        }

        #submitBtWrapper {
            margin-top: 30px;
            text-align: right;
        }

        #categorySelect {
            width: 20px;
        }

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="/static/css/global.css">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/js/ckeditor5/build/ckeditor.js" th:src="@{/js/ckeditor5/build/ckeditor.js}"></script>
    <script>
        $(function () {

// CK editor
            let CurrentEditor;
            ClassicEditor
                .create( document.querySelector( '#content' ), {
                    ckfinder: {
                        //POST
                        uploadUrl: "/image",
                        options: {
                            resourceType: 'Images'
                        }
                    },
                    licenseKey: '',
                } )
                .then( editor => {
                    window.editor = editor;
                    CurrentEditor = editor;
                    // editor.model.document.on('change:data', function () {
                    //     countContent(editor.getData())
                    // })
                } )
                .catch( error => {
                    console.error( 'CKeditor 에러' );
                    console.warn( 'Build id: c8lmmc8yntlx-90lv8lh8innk' );
                    console.error( error );
                } );

// 현재 페이지의 content 길이, img 갯수 count
            function countContent(editorContent) {
                let result = new Map();
                result.set("isExceeded", false);

                let imgCount = editorContent.split('<img').length - 1;
                //  태그제거, 공백제거, 연속공백제거, 줄바꿈제거
                let textContent = editorContent.replace(/(<([^>]+)>)/ig,"").trim().replace(/  +/g,"").replace(/&nbsp;/gi,"")
                result.set("contentLength", textContent.length);

                // console.log("editorContent = " + editorContent + ", editorContentLength = " + editorContent.length);
                // console.log("imageCount = " + imgCount);
                // console.log("textContent = " + textContent);

                if (textContent.length > 1000) {
                    result.set("isExceeded", true).set("option", "length").set("count", textContent.length);
                } else if (imgCount > 5) {
                    result.set("isExceeded", true).set("option", "img").set("count", imgCount);
                }

                return result;
            }

// 카테고리 기본값
            let originValue = $("#categorySelect").data("origin");
            let criValue = $("#categorySelect").data("cricategory");

            // board.category 가 있으면 board.category, 없으면 criteria.category 사용
            let defaultValue = originValue ? originValue : criValue

            $("#categorySelect option").each(function () {
                if ($(this).attr("value") == defaultValue) {
                    $(this).attr("selected", true);
                }
            })

// submit
            $("#submitBt").on("click", function (event) {

                // 글자 수 이미지 수 검사
                let countResult = countContent(CurrentEditor.getData());
                $("#contentLength").val(countResult.get("contentLength"));
                if (countResult.get("isExceeded")) {
                    if (countResult.get("option") == "length") {
                        alert("글자수는 최대 1000자 까지 허용합니다. 현재 글자수 : " + countResult.get("count"));
                    } else {
                        alert("이미지는 최대 5장 까지 허용합니다. 현재 이미지 수 : " + countResult.get("count"));
                    }
                    return false;
                }

                // <img> 에서 src 추출
                let imageUrl = "";
                // (로컬) /images/local/request/da191b23-ef17-4059-b004-c4c78e125903.jpg"
                // (아마존) "https://s3.ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-655132712060/upload_image/c013e1c3-9733-4704-bb2d-76791c54a56e.jpg"
                $(".ck-content img").each(function (index, item) {

                    let imageSrc = $(this).attr("src");
                    let splittedUrl = '';
                    if (imageSrc.indexOf('/local') != -1) {
                        splittedUrl = imageSrc.split("request/");
                    }
                    if (imageSrc.indexOf('amazonaws') != -1) {
                        if (imageSrc.indexOf('upload_image_test/') != -1) {
                            splittedUrl = imageSrc.split("upload_image_test/");
                        } else {
                            splittedUrl = imageSrc.split("upload_image/");
                        }
                    }

                    imageUrl += splittedUrl[1] + ",";
                })
                // console.log("imageUrl = " + imageUrl)
                $("#uploadImageUrl").val(imageUrl);
            })

        })
    </script>
</head>
<body id="body">
<div id="container" class="container">

    <nav th:replace="fragment/fragment.html :: nav-fragment">
    </nav>
    <form th:action action="read.html" method="POST" id="form"
          th:object="${board}" enctype="multipart/form-data">

        <div class="input-group input-wrapper">
            <select id="categorySelect" th:field="*{category}" class="form-select" aria-label="Default select example"
                    th:data-cricategory="${criteria.category}" th:data-origin="${board.category}" required th:errorclass="is-invalid">
                <!-- option value="" = 숨긴 기본값 -->
                <option value="" selected hidden>카테고리</option>
                <option value="FREE">자유</option>
                <option value="ISSUE">이슈</option>
                <option value="ECONOMY">경제</option>
                <option value="CS">문의</option>
                <option value="NOTICE" sec:authorize="hasRole('ROLE_ADMIN')">공지</option>
            </select>
            <span class="input-group-text">제목 </span>
            <input class="form-control" type="text" id="title" name="title" th:field="*{title}" th:errorclass="is-invalid">
            <div class="invalid-feedback title-feedback" th:errors="*{title}"> title 오류</div>
            <div class="invalid-feedback" th:errors="*{category}"> category 오류</div>
        </div>

        <div class="input-group input-wrapper">
            <span class="input-group-text">작성자</span>
            <input type="text" class="form-control" id="writer" name="writer" th:value="${#authentication.name}" th:errorclass="is-invalid" readonly>
        </div>
        <div class="invalid-feedback" th:errors="*{writer}"> writer 오류</div>

        <div class="input-wrapper">
            <textarea id="content" class="form-control" name="content" th:field="*{content}" th:errorclass="is-invalid"
                      placeholder="글자는 최대 1000자, 이미지는 최대 5 장 까지 허용합니다."></textarea>
            <div class="invalid-feedback" th:errors="*{content}"> content 오류</div>
            <div id="word-count"></div>
        </div>

        <!-- onsubmit 실제로 업로드할 이미지 요청 url 에서 uuid 뽑아서 값으로 설정 -->
        <input type="hidden" name="imageName" value="" id="uploadImageUrl">

        <!-- content 의 실제 글자수 -->
        <input type="hidden" name="contentLength" value="" id="contentLength">

        <p id="submitBtWrapper"><input type="submit" id="submitBt" name="submit" value="등록" class="btn btn-primary"></p>
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>