packages:
  yum:
    amazon-cloudwatch-agent: []

files:
  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

# cloudwatch 커스텀 설정파일 작성
  "/opt/aws/amazon-cloudwatch-agent/etc/custom_logs.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/board/syslog.log",
                  "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/board/syslog.log"]]}`",
                  "log_stream_name": "{instance_id}"
                },
                {
                  "file_path": "/var/log/board/applog.log",
                  "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/board/applog.log"]]}`",
                  "log_stream_name": "{instance_id}"
                },
                {
                  "file_path": "/var/log/board/errlog.log",
                  "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/board/errlog.log"]]}`",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }

# 번들로그에 커스텀로그 추가
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/boardapplog.conf" :
      mode: "000755"
      owner: root
      group: root
      content: |
        /var/log/board/*.log

# EB taillog 에 커스텀로그 추가
  "/opt/elasticbeanstalk/tasks/taillogs.d/boardapplog.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/board/applog.log
      /var/log/board/syslog.log
      /var/log/board/errlog.log

container_commands:
  "01":
    command: amazon-cloudwatch-agent-ctl -a append-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/etc/custom_logs.json -s
  "02":
    command: sudo systemctl restart amazon-cloudwatch-agent
