# ref) https://github.com/awsdocs/elastic-beanstalk-samples/blob/master/configuration-files/aws-provided/instance-configuration/logs-streamtocloudwatch-linux.config
packages:
  yum:
    awslogs: []

commands:
  01-directory:
    command: "sudo mkdir -p /var/log/board/"
  02-directory:
    command: "sudo chmod 777 /var/log/board/"
#  03-clean:
#    command: "sudo rm /etc/awslogs/config/*.conf"
#  /etc/awslogs/config/logs.conf.bak 자동생성되는거 삭제.
#  03-clean-backup:
#    command: "sudo rm /etc/awslogs/config/*.bak"
  awslog-activation:
    command: systemctl enable awslogsd.service
  awslog-restart:
    command: systemctl restart awslogsd

files:
  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [syslog.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/board/syslog.log"]]}`
      log_stream_name = `{"Fn::Join":["/", [{ "Ref":"AWSEBEnvironmentName" }, "{instance_id}"]]}`
      file = /var/log/board/syslog.log

      [applog.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/board/applog.log"]]}`
      log_stream_name = `{"Fn::Join":["/", [{ "Ref":"AWSEBEnvironmentName" }, "{instance_id}"]]}`
      file = /var/log/board/applog.log

      [errlog.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/board/errlog.log"]]}`
      log_stream_name = `{"Fn::Join":["/", [{ "Ref":"AWSEBEnvironmentName" }, "{instance_id}"]]}`
      file = /var/log/board/errlog.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/boardapplog.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/board/*.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/boardapplog.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/board/applog.log
      /var/log/board/syslog.log
      /var/log/board/errlog.log

