<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="/static/css/global.css">
    <title>회원 등록</title>
    <style>

        #container {
            padding: 30px;
        }

        .addForm {
            width: 560px;
            margin: 30px auto 0;
        }

        .input-wrapper > * {
            float: left;
        }

        .input-wrapper::after {
            display: block;
            content: "";
            clear: both;
        }

        .input-wrapper > input {
            width: 83%;
        }

        .input-wrapper {
            margin: 10px auto 30px;
        }

        .input-wrapper > button {
            margin-left: 5px;
        }

        #submitBt {
            margin: 0 auto;
        }


    </style>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            let loginIdFlag = false;
            let usernameFlag = false;

            // 변경 체크를 위한 초기값
            let loginId = $("#loginId").val();
            let username;
            if ($(".isOauth2").val()) {
                username = $("#oauth2Username").val();
            } else {
                username = $("#username").val();
            }

            // loginId 체크
            $("#duplicateLoginIdCheckBt").on("click", function () {
                loginId = $("#loginId").val();

                if (loginId == "" || loginId.length > 16) {
                    alert("유효한 아이디를 입력해 주세요.");
                    return false;
                }

                $.ajax({
                    type: "get",
                    async: false,
                    url: "/member/duplicateCheck",
                    data: {loginId: loginId},
                    success: function (data) {
                        if (data == true) {
                            alert("이미 사용중인 로그인id 입니다.");
                            $("#loginId").removeClass("is-valid");
                            loginIdFlag = false;
                        } else {
                            alert("사용 가능한 로그인id 입니다.");
                            $("#loginId").addClass("is-valid");
                            loginIdFlag = true;
                        }
                    }
                })
            })

            // username 체크
            $(".duplicateUsernameCheckBt").on("click", function () {

                if ($(".isOauth2").val()) {
                    username = $("#oauth2Username").val();
                } else {
                    username = $("#username").val();
                }

                if (username == "" || username.length > 16) {
                    alert("유효한 닉네임을 입력해 주세요.");
                    return false;
                }

                $.ajax({
                    type: "get",
                    async: false,
                    url: "/member/duplicateCheck",
                    data: {username: username},
                    success: function (data) {
                        if (data == true) {
                            alert("이미 사용중인 닉네임 입니다.")
                            $(".username").removeClass("is-valid");
                            usernameFlag = false;
                        } else {
                            alert("사용 가능한 닉네임 입니다.")
                            $(".username").addClass("is-valid");
                            usernameFlag = true;
                        }
                    }
                })
            })

            // 일반 유저 폼 submit
            $("#form").on("submit", function (event) {
                event.preventDefault();

                console.log("$(loginId) " + $("#loginId").val() + " loginId " + loginId)
                console.log("$(username) " + $("#username").val() + " username " + username)
                console.log("idflag = " + loginIdFlag + " nameflag = " + usernameFlag)

                let password = $("#password").val();

                // 비밀번호 체크
                if (password.length < 4 || password.length > 16) {
                    $("#password").addClass("is-invalid");
                    return false;
                }

                // 값 변경 확인
                if ($("#loginId").val() != loginId) loginIdFlag = false;
                if ($("#username").val() != username) usernameFlag = false;

                if (loginIdFlag == true && usernameFlag == true) {
                    this.submit();
                } else {
                    alert((loginIdFlag ? "닉네임 " : "로그인ID ") + "중복 체크 해주세요");
                }
            })

            // OAuth2 유저 폼 submit
            $("#oauth2Form").on("submit", function (event) {
                event.preventDefault();

                console.log("$(username) " + $("#oauth2Username").val() + " username " + username)

                // 값 변경 확인
                if ($("#oauth2Username").val() != username) usernameFlag = false;

                if (usernameFlag == true) {
                    this.submit();
                } else {
                    alert("닉네임 중복 체크 해주세요");
                }
            })
        })
    </script>
</head>
<body id="body">
<div id="container" class="container">

    <nav th:replace="fragment/fragment.html :: nav-fragment">
    </nav>

    <div>
        <h2 id="headerText"> 회원 가입 </h2>
    </div>

    <hr>

    <!-- 로그인ID 와 닉네임은 중복체크를 위해 클라이언트 단에서 유효성 검사를 하긴 함
          -> 새로고침 날아감 때문에 패스워드도 그냥 유효성 검사 함 -->
    <form th:action action="/home" method="POST" th:object="${member}" id="form" class="form addForm"
    th:unless="${isOauth2 == 'true'}">

        <label for="loginId" class="col">로그인 ID </label>
        <div class="input-wrapper">
            <input type="text" th:field="*{loginId}" id="loginId" th:errorclass="is-invalid"
                   placeholder="최대 16자 까지 허용합니다." class="form-control col-6">
            <button id="duplicateLoginIdCheckBt" type="button" class="btn btn-secondary col">
                중복확인
            </button>
            <div class="valid-feedback"> 사용 가능한 로그인 ID 입니다.</div>
            <div class="invalid-feedback"> 로그인 ID 를 입력해 주세요 (최대 16 자)</div>
        </div>


        <label for="password">비밀번호 </label>
        <div class="input-wrapper">
            <input type="password" id="password" th:field="*{password}" th:errorclass="is-invalid"
                   placeholder="4 ~ 16자리 까지 허용합니다." class="form-control">
            <div class="invalid-feedback"> 비밀번호를 입력해 주세요 (4 ~ 16 자)</div>
        </div>


        <label for="username">닉네임 </label>
        <div class="input-wrapper">
            <input type="text" th:field="*{username}" id="username" th:errorclass="is-invalid"
                   placeholder="최대 16자 까지 허용합니다." class="username form-control">
            <button type="button" class="duplicateUsernameCheckBt btn btn-secondary">
                중복확인
            </button>
            <div class="valid-feedback"> 사용 가능한 닉네임 입니다.</div>
            <div class="invalid-feedback"> 닉네임을 입력해 주세요 (최대 16 자)</div>
        </div>

        <label for="email">이메일 </label>
        <div class="input-wrapper">
            <input type="text" id="email" th:field="*{email}" th:errorclass="is-invalid"
                   placeholder="최대 30자 까지 허용합니다." class="form-control">
            <div class="invalid-feedback"> 유효한 이메일을 입력해 주세요 </div>
        </div>


        <div class="d-flex justify-content-center">
            <button id="submitBt" type="submit" class="btn btn-primary"> 회원가입</button>
        </div>

    </form>

    <form th:if="${isOauth2 == 'true'}"
          th:action="@{/member/add/oauth2}" action="/home" method="POST" th:object="${member}" id="oauth2Form" class="addForm form">

        <label for="oAuth2Provider">사용할 소셜 로그인 서비스 </label>
        <div class="input-wrapper">
            <input type="text" id="oAuth2Provider" th:field="*{provider}" th:errorclass="is-invalid"
                   placeholder="서비스 제공자" class="form-control" disabled>
            <div class="invalid-feedback"> 내부 에러 </div>
        </div>

        <label for="email">이메일 </label>
        <div class="input-wrapper">
            <input type="text" id="oAuth2Email" th:field="*{email}" th:errorclass="is-invalid"
                   placeholder="이메일을 입력해 주세요" class="form-control" disabled>
            <div class="invalid-feedback"> 유효한 이메일을 입력해 주세요 </div>
        </div>

        <label for="username">닉네임 </label>
        <div class="input-wrapper">
            <input type="text" th:field="*{username}" id="oauth2Username" th:errorclass="is-invalid"
                   placeholder="최대 20자 까지 허용합니다." class="form-control username editable">
            <button class="duplicateUsernameCheckBt btn btn-secondary" type="button">
                중복확인
            </button>
            <div class="valid-feedback"> 사용 가능한 닉네임 입니다.</div>
            <div class="invalid-feedback"> 닉네임을 입력해 주세요 (최대 16 자)</div>
        </div>

        <div class="d-flex justify-content-center">
            <button id="oauth2SubmitBt" type="submit" class="btn btn-primary">회원 가입</button>
        </div>

        <!-- Oauth2 유저인지 확인-->
        <input class="isOauth2" type="hidden" name="isOauth2" th:value="${isOauth2}">
        <input type="hidden" name="providerId" th:value="${member.getProviderId()}">

    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>