<!DOCTYPE html>
<!--타임리프 및 스프링 시큐리티 확장 네임스페이스 사용-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" href="/static/css/global.css">
    <title>회원 수정</title>
    <style>

        #myPageNav {
            margin: 20px auto ;
            background-color: #f7f7f7;
        }

        .info-form {
            width: 560px;
            margin: 20px auto;
        }

        .input-wrapper > * {
            float: left;
        }

        .input-wrapper::after {
            display: block;
            content: "";
            clear: both;
        }

        .input-wrapper > input {
            width: 83%;
        }

        .input-wrapper {
            margin: 10px auto 30px;
        }

        .input-wrapper > button {
            margin-left: 5px;
        }

        .submit-btn {
            margin: 0 auto;
        }

    </style>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script>
        $(function () {


// 내부 네비바 active
            $(".nav-pills .nav-link").on({
                mouseenter: function () {
                    $(this).addClass("active");
                },
                mouseleave: function () {
                    $(this).removeClass("active");
                }
            });

// 페이지 로드시 버튼 처리
            // 모든 info-form 폼의 input, button 비활성화 및 editBt 활성화
            $(".info-form input").attr("disabled", true);
            $(".info-form button").css("display", "none")
            $(".info-form .edit-btn").css("display", "block");
            $(".info-form .delete-btn").css("display", "block");
            $("#password").attr("placeholder", "");

// 회원 정보 수정 버튼 누름
            $(".edit-btn").on("click", function () {
                $(".info-form .editable").attr("disabled", false);
                $(".info-form button").css("display", "block");
                $(".info-form .edit-btn").css("display", "none");
                $(".info-form .delete-btn").css("display", "none");
                $("#password").attr("placeholder", "4 ~ 16자리까지 허용합니다.");
            })

// 변경 체크를 위한 초기값 (origin -> 페이지로드 초기값)
            let loginIdOrigin = $("#loginId").val();
            let loginId = loginIdOrigin;

            let usernameOrigin;
            if ($(".isOauth2").val()) {
                usernameOrigin = $("#oauth2Username").val();
            } else {
                usernameOrigin = $("#username").val();
            }
            let username = usernameOrigin;

            let loginIdFlag = true;
            let usernameFlag = true;

// loginId 체크
            $("#duplicateLoginIdCheckBt").on("click", function () {
                loginId = $("#loginId").val();

                if (loginId == "" || loginId.length > 16) {
                    alert("유효한 아이디를 입력해 주세요.");
                    return false;
                }

                if (loginId == loginIdOrigin) {
                    alert("사용 가능한 로그인id 입니다.")
                    return;
                }

                $.ajax({
                    type: "get",
                    async: false,
                    url: "/member/duplicate-check",
                    data: {loginId: loginId},
                    success: function (data) {
                        if (data == true) {
                            alert("이미 사용중인 로그인id 입니다.");
                            $("#loginId").removeClass("is-valid");
                            loginIdFlag = false;
                        } else {
                            alert("사용 가능한 로그인id 입니다.");
                            $("#loginId").addClass("is-valid");
                            loginIdFlag = true;
                        }
                    }
                })
            })

// username 체크
            $(".duplicateUsernameCheckBt").on("click", function () {

                if ($(".isOauth2").val()) {
                    username = $("#oauth2Username").val();
                } else {
                    username = $("#username").val();
                }

                if (username == "" || username.length > 16) {
                    alert("유효한 닉네임을 입력해 주세요.");
                    return false;
                }

                if (username == usernameOrigin) {
                    alert("사용 가능한 닉네임 잆니다.")
                    return;
                }

                $.ajax({
                    type: "get",
                    async: false,
                    url: "/member/duplicate-check",
                    data: {username: username},
                    success: function (data) {
                        if (data == true) {
                            alert("이미 사용중인 닉네임 입니다.")
                            $(".username").removeClass("is-valid");
                            usernameFlag = false;
                        } else {
                            alert("사용 가능한 닉네임 입니다.")
                            $(".username").addClass("is-valid");
                            usernameFlag = true;
                        }
                    }
                })
            })


// 이메일 인증 (전송)
            $("#emailVerifyBox").hide(); // 기본 hide
            let isEmailVerified = false;
            $(".verifyEmailBtn").on("click", function () {
                // 이메일 검사
                let regex = new RegExp('[a-z0-9]+@[a-z]+\.[a-z]{2,3}');
                let inputEmail = $("#email").val();
                console.log("input email = " + inputEmail);
                if (!regex.test(inputEmail)) {
                    alert("유효한 이메일을 입력해 주세요.")
                    return false;
                }

                // 이메일 전송
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/member/verify-email",
                    data: {email: inputEmail, option: "add"},
                    success: function (data) {
                        isEmailVerified = false;
                        if (data == 'true') {
                            alert("인증 메일이 전송되었습니다. 인증코드는 5분간 유효합니다.");
                            $("#emailVerifyBox").show();
                            $("#email").attr("readonly", true).css("background-color", "lightgrey");
                        } else if (data == 'duplicate') {
                            alert("이미 가입된 이메일 입니다.");
                        } else {
                            alert("이메일 전송에 실패하였습니다.");
                        }
                    }
                })

            })

// 이메일 인증(확인)
            $(".confirmEmailBtn").on("click", function () {
                // 입력한 코드 검사
                let verifyCode = $("#emailVerifyCode").val();

                // 입력한 코드 전송
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/member/confirm-email",
                    data: {verifyCode: verifyCode},
                    success: function (isVerified) {
                        if (isVerified == true) {
                            alert("인증 되었습니다.")
                            isEmailVerified = isVerified;
                            $("#emailVerifyBox").hide();
                            $(".verifyEmailBtn").hide();
                        } else {
                            alert("인증에 실패하였습니다.")
                        }
                    }
                })
            })

// 일반 유저 폼 submit
            $("#normalForm").on("submit", function (event) {
                event.preventDefault();

                // console.log("$(loginId) " + $("#loginId").val() + " loginId " + loginId)
                // console.log("$(username) " + $("#username").val() + " username " + username)
                // console.log("idflag = " + loginIdFlag + " nameflag = " + usernameFlag)

                let password = $("#password").val();

                // 비밀번호 체크
                if (password.length < 4 || password.length > 16) {
                    $("#password").addClass("is-invalid");
                    return false;
                }

                // 값 변경 확인
                if ($("#loginId").val() != loginId) loginIdFlag = false;
                if ($("#username").val() != username) usernameFlag = false;

                // 중복 체크 최종 확인
                if (loginIdFlag == false || usernameFlag == false) {
                    alert((loginIdFlag ? "닉네임 " : "로그인ID ") + "중복 체크 해주세요");
                    return false;
                }

                // 이메일 인증 확인
                if (isEmailVerified.valueOf()) {
                    $("#isEmailVerified").val("true");
                }

                this.submit();
            })

// OAuth2 유저 폼 submit
            $("#oauth2Form").on("submit", function (event) {
                event.preventDefault();

                // console.log("$(username) " + $("#oauth2Username").val() + " username " + username)

                // 값 변경 확인
                if ($("#oauth2Username").val() != username) usernameFlag = false;

                if (usernameFlag == true) {
                    $("#oAuth2ProviderId").attr("disabled", false);
                    this.submit();
                } else {
                    $("#oauth2Username").removeClass("is-valid");
                    alert("닉네임 중복 체크 해주세요");
                }
            })

// 회원 탈퇴
            $(".delete-btn").on("click", function () {
                if (confirm("정말로 탈퇴 하시겠습니까?")) {
                    let memberId = $("#userInfo").data("memberid");
                    $("#memberDelete").attr("action", "/member/" + memberId + "/delete").submit();
                }
            })

// alert
            let alertMessage = $("#globalAlertMessage").data("alertmessage");
            if (alertMessage) {
                alert(alertMessage);
            }
        })
    </script>
</head>
<body id="body">
<div id="container" class="container">

    <nav th:replace="fragment/fragment.html :: nav-fragment">
    </nav>

    <div id="globalAlertMessage" th:data-alertmessage="${alertMessage}"></div>

    <div>
        <h2 id="headerText"> 마이 페이지 > 내 정보 </h2>
    </div>

    <hr>

    <ul  id="myPageNav" class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{|/member/${memberId}/boards|}">내 게시글</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{|/member/${memberId}/comments|}" >내 댓글</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{|/member/${memberId}|}" >내 정보</a>
        </li>
    </ul>


    <div id="userInfo" th:data-memberid="${member.id}">

    <!-- 로그인ID 와 닉네임은 중복체크를 위해 클라이언트 단에서 유효성 검사를 하긴 함
          -> 새로고침 날아감 때문에 패스워드도 그냥 유효성 검사 함 -->
    <form th:if="${isOauth2 != 'true'}"
          th:action="@{/member/{memberId}/edit(memberId=${member.id})}" action="/home" method="POST"
          th:object="${member}" id="normalForm" class="info-form form">

        <label for="loginId" class="col">로그인 ID </label>
        <div class="input-wrapper">
            <input type="text" th:field="*{loginId}" id="loginId" th:errorclass="is-invalid"
                   placeholder="최대 8자 까지 허용합니다." class="form-control col-6 editable">
            <button id="duplicateLoginIdCheckBt" type="button" class="btn btn-secondary col">
                중복확인
            </button>
            <div class="valid-feedback"> 사용 가능한 로그인 ID 입니다.</div>
            <div class="invalid-feedback"> 로그인 ID 를 입력해 주세요 (최대 16 자)</div>
        </div>

        <label for="password">비밀번호 </label>
        <div class="input-wrapper">
            <input type="password" id="password" th:field="*{password}" th:errorclass="is-invalid"
                    class="form-control editable">
            <div class="invalid-feedback"> 비밀번호를 입력해 주세요 (4 ~ 16 자)</div>
        </div>


        <label for="username">닉네임 </label>
        <div class="input-wrapper">
            <input type="text" th:field="*{username}" id="username" th:errorclass="is-invalid"
                   placeholder="최대 20자 까지 허용합니다." class="form-control username editable">
            <button class="duplicateUsernameCheckBt btn btn-secondary" type="button">
                중복확인
            </button>
            <div class="valid-feedback"> 사용 가능한 닉네임 입니다.</div>
            <div class="invalid-feedback"> 닉네임을 입력해 주세요 (최대 16 자)</div>
        </div>

        <label for="email">이메일 </label> <span th:if="*{'true'.equals(emailVerified)}">(인증됨)</span>
        <div class="input-wrapper">
            <input type="text" id="email" th:field="*{email}" th:errorclass="is-invalid"
                   placeholder="최대 30자 까지 허용합니다." class="form-control editable">
            <button type="button" class="verifyEmailBtn btn btn-secondary" th:unless="*{'true'.equals(emailVerified)}">
                인증
            </button>
            <div class="invalid-feedback"> 유효한 이메일을 입력해 주세요 (최대 30자) </div>
        </div>

        <div id="emailVerifyBox">
            <label for="emailVerifyCode">이메일 인증번호</label>
            <div class="input-wrapper">
                <input type="password" id="emailVerifyCode" name="emailVerifyCode"
                       placeholder="인증번호" class="form-control editable">
                <button type="button" class="confirmEmailBtn btn btn-secondary">
                    인증확인
                </button>
                <div class="invalid-feedback"> 인증 번호가 다릅니다. </div>
            </div>
        </div>

        <div class="d-flex justify-content-evenly">
            <button id="editBt" type="button" class="btn btn-primary edit-btn">정보 수정</button>
            <button id="deleteBt" type="button" class="btn btn-primary delete-btn">회원 탈퇴</button>
            <button id="submitBt" type="submit" class="btn btn-primary submit-btn"> 회원 수정</button>
        </div>

        <!-- Oauth2 유저인지 확인-->
        <input class="isOauth2" type="hidden" name="isOauth2" th:value="${isOauth2}">
        <input id="isEmailVerified" type="hidden" name="emailVerified" value="false" class="editable">

    </form>


    <form th:if="${isOauth2 == 'true'}"
          th:action="@{/member/{memberId}/edit-oauth(memberId=${member.id})}" action="/home" method="POST"
          th:object="${member}" id="oauth2Form" class="info-form form">

        <label for="oAuth2Provider">사용중인 소셜 로그인 서비스 </label>
        <div class="input-wrapper">
            <input type="text" id="oAuth2Provider" th:field="*{provider}" th:errorclass="is-invalid"
                   placeholder="서비스 제공자" class="form-control">
            <div class="invalid-feedback"> 내부 에러 </div>
        </div>

        <label for="email">이메일 </label>
        <div class="input-wrapper">
            <input type="text" id="oAuth2Email" th:field="*{email}" th:errorclass="is-invalid"
                   placeholder="이메일을 입력해 주세요" class="form-control">
            <div class="invalid-feedback"> 유효한 이메일을 입력해 주세요 </div>
        </div>

        <label for="username">닉네임 </label>
        <div class="input-wrapper">
            <input type="text" th:field="*{username}" id="oauth2Username" th:errorclass="is-invalid"
                   placeholder="최대 20자 까지 허용합니다." class="form-control username editable">
            <button class="duplicateUsernameCheckBt btn btn-secondary" type="button">
                중복확인
            </button>
            <div class="valid-feedback"> 사용 가능한 닉네임 입니다.</div>
            <div class="invalid-feedback"> 닉네임을 입력해 주세요 (최대 16 자)</div>
        </div>

        <div class="d-flex justify-content-evenly">
            <button id="oauth2EditBt" type="button" class="btn btn-primary edit-btn">정보 수정</button>
            <button id="oauth2DeleteBt" type="button" class="btn btn-primary delete-btn">회원 탈퇴</button>
            <button id="oauth2SubmitBt" type="submit" class="btn btn-primary submit-btn"> 수정 완료</button>
        </div>

        <!-- Oauth2 유저인지 확인-->
        <input class="isOauth2" type="hidden" name="isOauth2" th:value="${isOauth2}">
        <input  id="oAuth2ProviderId" type="hidden" name="providerId" th:value="${member.getProviderId()}">

    </form>
    </div>

    <!------------------------------------------------------------------------------->

    <form id="memberDelete" method="POST">
    </form>



</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>