#body {
    background-color: #f7f7f7;
}

#container {
    max-width: 940px;
    background-color: white;
    padding: 30px;
}

#headerText {
    text-indent: 0.5em;
    font-size: 1.7em;
}

#globalAlertMessage {
    display: none;
}