.navbar>form {
    padding: 0;
}

@media (min-width: 960px) {
    #navBarContainer {
        padding: 0 30px;
    }
}

@media (min-width: 769px) {
    .navbar-wrapper {
        height: 40px;
        line-height: 40px;
    }
}

#navBarContainer {
    max-width: 1200px;
}

#navbarSupportedContent {
    min-width: 800px;
}

#loginMessageBox {
    margin-right: 20px;
    vertical-align: bottom;
}

#loginMessageBox::after {
    content: ""; display: block; clear: both;
}

#loginMessageBox div {
    float: left;
}

#loginMessageUsernameBox {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.55);
}

#navHeader {
    font-size: 1.5rem;
}

#navRightBox::after {
    content: ""; display: block; clear: both;
}

#navRightBox>li {
    float: right;
}

.loginBtBox {
    padding-left: 0;
}

/*
fixedTop nav 랑 안겹치게 하는 클래스 옵션 pt-5 로 padding-top 5 주면 되는데 더 높게하려면
    따로 지정해줘야 되는거 같아서 그냥 nav-css 에다가 65px 로 선언함
<body class="pt-5">
 */
body {
    padding-top: 65px;
}