.navbar>form {
    padding: 0;
}

@media (min-width: 960px) {
    #navBarContainer {
        padding: 0 30px;
    }
}

#navBarContainer {
    max-width: 1200px;
}

#loginMessage {
    margin-right: 20px;
}

#navHeader {
    font-size: 1.5rem;
}

#navRightBox::after {
    content: ""; display: block; clear: both;
}

#navRightBox>li {
    float: right;
}

.loginBtBox {
    padding-left: 0;
}

body {
    padding-top: 65px;
}