<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:inline="javascript">
        // /*<![CDATA[*/

        // Model 에 담긴 redirectDTO 정보 받음
        const message = [[${redirectDTO.message}]];
        const redirectURL = [[${redirectDTO.redirectURL}]];
        const queryString = [[${redirectDTO.queryString}]];

        // alert 호출
        alert(message);

        console.log(queryString)

        // redirect (replace 는 뒤로가기 불가능, href 는 가능)
        if (queryString == null) {
            location.replace(redirectURL);
        } else {
            location.replace(redirectURL + "?" + queryString)
        }


        /*]]>*/
    </script>
</head>
<body>

</body>
</html>