<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.board.repository.mybatis.ImageMapper">

    <select id="findById" resultType="Image">
        select board_id, member_id, image_id, store_image_name, upload_image_name, image_address from image
        where image_id = #{imageId}
    </select>

    <select id="findByBoardId" resultType="Image">
        select board_id, member_id, image_id, store_image_name, upload_image_name, image_address from image
        where board_id = #{boardId}
    </select>

    <insert id="saveImage" useGeneratedKeys="true" keyProperty="imageId">
        <!-- board_id 를 null 로 입력하면 DEFAULT 가 활성화 되지 않는다.-->
        insert into image (member_id, store_image_name, upload_image_name, image_address)
        values (#{memberId}, #{storeImageName}, #{uploadImageName}, #{imageAddress})
    </insert>

    <delete id="deleteImage">
        delete from image where board_id=#{boardId}
    </delete>

    <delete id="deleteImageByStoreImageName">
        delete from image where store_image_name = #{storeImageName}
    </delete>

    <update id="setBoardId">
        update image
        set board_id = #{boardId}
        where board_id = 0 and member_id = #{memberId}
    </update>

</mapper>