<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.board.repository.mybatis.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member(provider, provider_id, login_id, username, password, email, email_verified, role)
        VALUES (#{provider}, #{providerId}, #{loginId}, #{username}, #{password},#{email}, #{emailVerified}, #{role})
    </insert>

    <update id="update">
        update member
        set login_id=#{updateParam.loginId},
            username=#{updateParam.username},
            password=#{updateParam.password},
            email=#{updateParam.email},
            email_verified=#{updateParam.emailVerified}
        where id = #{id}
    </update>

    <update id="updateEmail">
        update member
        set email = #{email}
        where provider_id = #{providerId}
    </update>

    <update id="updateUsername">
        update member
        set username = #{username}
        where provider_id = #{providerId}
    </update>

    <delete id="delete">
        delete from member where id = #{id}
    </delete>

    <select id="findById" resultType="Member">
        select * from member
        where id = #{id}
    </select>

    <select id="findByLoginId" resultType="Member">
        select * from member
        where login_id = #{loginId}
    </select>

    <select id="findByUsername" resultType="Member">
        select * from member
        where username = #{username}
    </select>

    <select id="findTargetByTargetId" resultType="string">
        select username from member
        where id = #{targetId}
    </select>

    <select id="findAll" resultType="Member">
        select * from member
    </select>

    <select id="findByProviderAndProviderId" resultType="Member">
        select * from member where provider = #{provider} and provider_id = #{providerId}
    </select>

    <!-- 이메일 인증에서 사용-->
    <select id="findByEmail" resultType="Member">
        select * from member
        where email = #{email} and email_verified = 'true'
    </select>

</mapper>
